
<h1> <%= @dish.name %></h1>
<h6>Chef: <%= @dish.chef.name %></h6>

<p>Total Calories: <%= @dish.ingredients.total_calories %> </p>


<% @dish.ingredients.each do |ing| %>
    <p><%= ing.name %></p>
<% end %>

